
{% extends "Recipes/baseRecipes.html.twig" %}

{% block contenido %}
<div class="container">
<h2>Listado de Pokemons </h2>
    {% for message in app.flashes("success") %} {# flash message, appears only when adding new #}
        <p>{{ message }}</p>
        {% endfor %}
    <div class="row row-cols-1 row-cols-md-2">
        {% for recipe in listRecipes %}  {# bucle for in #}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src={{ recipe.image }} class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.code }}</p>
                        <a href="{{ path("getRecipe", {"id":recipe.id}) }}" class="btn btn-primary">Más Info</a> {# atention to syntaxis #}
                    </div>
                </div>
            </div>
        {% endfor %} {# cierrre del bucle for in #}
    </div>
{% endblock %}

